Kallik/test_img/
Kallik/output/
Kallik/output_img/
Kallik/output_png/
Kallik/output_png_classified/
Kallik/DM-Label/

Kallik/img_sim/classifier-labels/
Kallik/img_sim/unclassified-imgs/
Kallik/img_sim/unclassified-imgs-copy/
Language_Detection/google-cloud-sdk/
Language_Detection/google-cloud-sdk-2/
Kallik/output_txt.zip
Kallik/output_png.zip
Kallik/profile_output_template
Kallik/img_sim/find_matches_script.pyc
~$img_results_comp.xlsx
~$img_results_comp_2.xlsx
~$img_results_comp_eps_bw.xlsx
Kallik/~$ImageClusterFile_testing.xlsx
